// SPDX-License-Identifier: GPL-2.0+
// Copyright (c) Meta Platforms, Inc. and affiliates.

/dts-v1/;

#include "ast2600-facebook-netbmc-common.dtsi"

/ {
	model = "Facebook FBOSS-Lite Flavor-1 BMC";
	compatible = "facebook,fblite-r1-bmc", "aspeed,ast2600";

	chosen {
		stdout-path = &uart1;
	};

	spi_gpio: spi {
		num-chipselects = <1>;
		cs-gpios = <&gpio0 ASPEED_GPIO(X, 0) GPIO_ACTIVE_LOW>;
	};
};

&fmc {
	flash@0 {
		/delete-node/partitions;
#include "facebook-bmc-flash-layout-128-data64.dtsi"
	};
};

&i2c11 {
	status = "okay";
};

&lpc_ctrl {
	status = "okay";
	flash = <&spi1>;
};

&kcs1 {
	status = "okay";
	aspeed,lpc-io-reg = <0xca0>;
};

&kcs2 {
	status = "okay";
	aspeed,lpc-io-reg = <0xca8>;
};

&kcs3 {
	status = "okay";
	aspeed,lpc-io-reg = <0xca2>;
};

&peci0 {
	status = "okay";

	peci-client@30 {
		compatible = "intel,peci-client";
		reg = <0x30>;
	};
};

&mdio1 {
	status = "okay";
};

&mac3 {
	status = "okay";
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii4_default>;
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};
