# SPDX-License-Identifier: GPL-2.0

menuconfig I3C
	tristate "I3C support"
	select I2C
	help
	  I3C is a serial protocol standardized by the MIPI alliance.

	  It's supposed to be backward compatible with I2C while providing
	  support for high speed transfers and native interrupt support
	  without the need for extra pins.

	  The I3C protocol also standardizes the slave device types and is
	  mainly designed to communicate with sensors.

	  If you want I3C support, you should say Y here and also to the
	  specific driver for your bus adapter(s) below.

	  This I3C support can also be built as a module.  If so, the module
	  will be called i3c.

if I3C
source "drivers/i3c/master/Kconfig"

config I3C_HUB
	tristate "I3C HUB support"
	depends on I3C
	select REGMAP_I3C
	help
	  This enables support for I3C HUB. Say Y here to use I3C HUB driver to
	  configure I3C HUB device.

	  I3C HUB drivers will be loaded automatically when I3C device with BCR
	  equals to 0xC2 (HUB device) is detected on the bus.

endif # I3C
