// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Device Tree Source for AST27xx SoC Family Main Domain peripherals
 *
 * Copyright (C) 2026 ASPEED Technology Inc.
 */

#include <dt-bindings/clock/aspeed,ast2700-scu.h>
#include <dt-bindings/reset/aspeed,ast2700-scu.h>
#include <dt-bindings/interrupt-controller/aspeed-scu-ic.h>

&soc0 {
	sram0: sram@10000000 {
		compatible = "mmio-sram";
		reg = <0x0 0x10000000 0x0 0x20000>;
		ranges = <0x0 0x0 0x10000000 0x20000>;
		#address-cells = <1>;
		#size-cells = <1>;

		soc0-sram@0 {
			reg = <0x0 0x20000>;
			export;
		};
	};

	intc0: interrupt-controller@12100000 {
		compatible = "aspeed,ast2700-intc0";
		reg = <0x0 0x12100000 0x0 0x3c00>;
		interrupt-controller;
		interrupt-parent = <&gic>;
		#interrupt-cells = <1>;
		aspeed,interrupt-ranges =
			<0 128 &gic GIC_SPI 0 IRQ_TYPE_LEVEL_HIGH>, /* linear range 1 to 1*/
			<144 8 &gic GIC_SPI 144 IRQ_TYPE_LEVEL_HIGH>, /* sw int SSP */
			<152 8 &gic GIC_SPI 152 IRQ_TYPE_LEVEL_HIGH>, /* sw int TSP */
			<192 10 &gic GIC_SPI 192 IRQ_TYPE_LEVEL_HIGH>, /* M0-M9 intm */
			<208 10 &gic GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>, /* M30-M39 intm */
			<224 10 &gic GIC_SPI 224 IRQ_TYPE_LEVEL_HIGH>, /* M40-M49 intm */
			<256 128 &ssp_nvic 0 0 >, /* linear to SSP */
			<384 10 &ssp_nvic 160 0 >, /* cascaded to SSP via M10-M19 */
			<400 8 &ssp_nvic 144 0 >, /* sw int PSP */
			<408 8 &ssp_nvic 152 0 >, /* sw int TSP */
			<426 128 &tsp_nvic 0 0 >, /* linear to TSP */
			<554 10 &tsp_nvic 160 0 >, /* cascaded to TSP via M20-M29 */
			<570 8 &tsp_nvic 144 0 >, /* sw int PSP */
			<578 8 &tsp_nvic 152 0 >; /* sw int TSP */
	};

	syscon0: syscon@12c02000 {
		compatible = "aspeed,ast2700-scu0", "syscon", "simple-mfd";
		reg = <0x0 0x12c02000 0x0 0x1000>;
		ranges = <0x0 0x0 0x12c02000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
		#clock-cells = <1>;
		#reset-cells = <1>;

		silicon-id@0 {
			compatible = "aspeed,ast2700-silicon-id", "aspeed,silicon-id";
			reg = <0x0 0x4>;
		};

		scu_ic0: interrupt-controller@1d0 {
			compatible = "aspeed,ast2700-scu-ic0";
			reg = <0x1d0 0xc>;
			interrupts-extended = <&intc0 97>;
			#interrupt-cells = <1>;
			interrupt-controller;
		};

		scu_ic1: interrupt-controller@1e0 {
			compatible = "aspeed,ast2700-scu-ic1";
			reg = <0x1e0 0xc>;
			interrupts-extended = <&intc0 98>;
			#interrupt-cells = <1>;
			interrupt-controller;
		};

		pinctrl0: pinctrl@400 {
			compatible = "aspeed,ast2700-soc0-pinctrl";
			reg = <0x400 0x318>;
		};
	};

	gpio0: gpio@12c11000 {
		#gpio-cells = <2>;
		gpio-controller;
		compatible = "aspeed,ast2700-gpio";
		reg = <0x0 0x12c11000 0x0 0x1000>;
		interrupts-extended = <&intc0 11>;
		gpio-ranges = <&pinctrl0 0 0 12>;
		ngpios = <12>;
		clocks = <&syscon0 SCU0_CLK_APB>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	uart4: serial@12c1a000 {
		compatible = "ns16550a";
		reg = <0x0 0x12c1a000 0x0 0x1000>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon0 SCU0_CLK_GATE_UART4CLK>;
		interrupts-extended = <&intc0 8>;
		no-loopback-test;
		status = "disabled";
	};
};

&soc1 {
	sram1: sram@14b80000 {
		compatible = "mmio-sram";
		reg = <0x0 0x14b80000 0x0 0x40000>;
		ranges = <0x0 0x0 0x14b80000 0x40000>;
		#address-cells = <1>;
		#size-cells = <1>;

		soc1-sram@0 {
			reg = <0x0 0x40000>;
			export;
		};
	};

	syscon1: syscon@14c02000 {
		compatible = "aspeed,ast2700-scu1", "syscon", "simple-mfd";
		reg = <0x0 0x14c02000 0x0 0x1000>;
		ranges = <0x0 0x0 0x14c02000 0x1000>;
		#address-cells = <1>;
		#size-cells = <1>;
		#clock-cells = <1>;
		#reset-cells = <1>;

		scu_ic2: interrupt-controller@100 {
			compatible = "aspeed,ast2700-scu-ic2";
			reg = <0x100 0x8>;
			interrupts-extended = <&intc1 160>;
			#interrupt-cells = <1>;
			interrupt-controller;
		};

		scu_ic3: interrupt-controller@108 {
			compatible = "aspeed,ast2700-scu-ic3";
			reg = <0x108 0x8>;
			interrupts-extended = <&intc1 186>;
			#interrupt-cells = <1>;
			interrupt-controller;
		};

		pinctrl1: pinctrl@400 {
			compatible = "aspeed,ast2700-soc1-pinctrl";
			reg = <0x400 0x2A0>;
		};
	};

	gpio1: gpio@14c0b000 {
		#gpio-cells = <2>;
		gpio-controller;
		compatible = "aspeed,ast2700-gpio";
		reg = <0x0 0x14c0b000 0x0 0x1000>;
		interrupts-extended = <&intc1 82>;
		gpio-ranges = <&pinctrl1 0 0 216>;
		ngpios = <216>;
		clocks = <&syscon1 SCU1_CLK_AHB>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	intc1: interrupt-controller@14c18000 {
		compatible = "aspeed,ast2700-intc1";
		reg = <0 0x14c18000 0 0x400>;
		interrupt-controller;
		interrupt-parent = <&intc0>;
		#interrupt-cells = <1>;
		aspeed,interrupt-ranges =
			<0 6 &intc0 480>,   /* M0  ~ M5  */
			<10 6 &intc0 490>,   /* M10 ~ M15  */
			<20 6 &intc0 500>,   /* M20 ~ M15  */
			<30 6 &intc0 510>,   /* M30 ~ M15  */
			<40 6 &intc0 520>,   /* M40 ~ M15  */
			<50 1 &bootmcu_intc 0>; /* only 1 pin to BootMCU */
	};

	uart0: serial@14c33000 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33000 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART0CLK>;
		interrupts-extended = <&intc1 135>;
		no-loopback-test;
		status = "disabled";
	};

	uart1: serial@14c33100 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33100 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART1CLK>;
		interrupts-extended = <&intc1 136>;
		no-loopback-test;
		status = "disabled";
	};

	uart2: serial@14c33200 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33200 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART2CLK>;
		interrupts-extended = <&intc1 137>;
		no-loopback-test;
		status = "disabled";
	};

	uart3: serial@14c33300 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33300 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART3CLK>;
		interrupts-extended = <&intc1 138>;
		no-loopback-test;
		status = "disabled";
	};

	uart5: serial@14c33400 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33400 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART5CLK>;
		interrupts-extended = <&intc1 139>;
		no-loopback-test;
		status = "disabled";
	};

	uart6: serial@14c33500 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33500 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART6CLK>;
		interrupts-extended = <&intc1 140>;
		no-loopback-test;
		status = "disabled";
	};

	uart7: serial@14c33600 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33600 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART7CLK>;
		interrupts-extended = <&intc1 141>;
		no-loopback-test;
		status = "disabled";
	};

	uart8: serial@14c33700 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33700 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART8CLK>;
		interrupts-extended = <&intc1 142>;
		no-loopback-test;
		status = "disabled";
	};

	uart9: serial@14c33800 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33800 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART9CLK>;
		interrupts-extended = <&intc1 143>;
		no-loopback-test;
		status = "disabled";
	};

	uart10: serial@14c33900 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33900 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART10CLK>;
		interrupts-extended = <&intc1 144>;
		no-loopback-test;
		status = "disabled";
	};

	uart11: serial@14c33a00 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33a00 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART11CLK>;
		interrupts-extended = <&intc1 145>;
		no-loopback-test;
		status = "disabled";
	};

	uart12: serial@14c33b00 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33b00 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_GATE_UART12CLK>;
		interrupts-extended = <&intc1 146>;
		no-loopback-test;
		status = "disabled";
	};

	uart13: serial@14c33c00 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33c00 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_UART13>;
		interrupts-extended = <&intc1 23>;
		no-loopback-test;
		status = "disabled";
	};

	uart14: serial@14c33d00 {
		compatible = "ns16550a";
		reg = <0x0 0x14c33d00 0x0 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&syscon1 SCU1_CLK_UART14>;
		interrupts-extended = <&intc1 55>;
		no-loopback-test;
		status = "disabled";
	};
};

#include "aspeed-g7-pinctrl.dtsi"
